<!DOCTYPE html>
<html>
<head>
	<title>Create Your Character</title>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Name of Campaign</h1>
		</div>
		<div id="sitecontent">
			<select>
				<option value="">Please Select a Character Job</option>
				<option value="Barbarian">Barbarian</option>
				<option value="Bard">Bard</option>
				<option value="Cleric">Cleric</option>
				<option value="Druid">Druid</option>
				<option value="Fighter">Fighter</option>
				<option value="Immolator">Immolator</option>
				<option value="Paladin">Paladin</option>
				<option value="Ranger">Ranger</option>
				<option value="Thief">Thief</option>
				<option value="Wizard">Wizard</option>
			</select>
			<form action="" method="">
				<input type="text" name="char_name">
				<input type="submit" value="Create!">
			</form>
		</div>

	</div>

</body>
</html>