<!DOCTYPE html>
<html>
<head>
	<title>Lobby Page</title>
</head>
<body>
	<div id="container">
		<div id="header">

		</div>

		<div id="sitecontent">
			<form action="" method="post">
				<input type="submit" value="Create Game">
			</form>

			<form action="" method="post">
				<input type="submit" value="Join Game">
			</form>
			<h4>Current Games:</h4>
			<table>
				<thead>
					<tr>
						<th>Campaign Name</th>
						<th>Date Created</th>
						<th>Game Status</th>
						<th>GM Name</th>
					</tr>
				</thead>
				<tbody>
					{% for campaign in campaigns %}
					<tr>
						<td>{{campaign.name}}</td>
						<td>{{campaign.created_at}}</td>
						<td>DM</td>
						<td>Some status</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>
